# coding: utf-8


def number():
    x = raw_input()
    y = raw_input()
    if x == 0 or y == 0:
        return 'Errorr'
    return x / y

print number()


def number(n1, n2, operation):
    if operation == '+':
        return n1 + n2
    elif operation == '-':
        return n1 - n2


def div(x, y):
    return x / y


def multy(x, y):
    return x * y

def calculator(x, y, process):
    if process == 'divide':
        print div(x, y)
    elif process == 'multy':
        print multy(x, y)

calculator(float(raw_input()), float(raw_input()), raw_input('Operation'))


sudo apt-get install python-dev python-pip
